<nav class="nav">
  <a href="/" class="nav__link"><span>Home</span></a>
  <a href="/about" class="nav__link"><span>About</span></a>
  <a href="/events" class="nav__link"><span>Events</span></a>
  <a href="/team" class="nav__link"><span>Team</span></a>
  <a href="/achievements" class="nav__link"><span>Achievements</span></a>
</nav>
