<div class="transition__morph__svg">
  <svg viewBox="0 0 100 100" preserveAspectRatio="xMidYMin slice">
    <path
      stroke="none"
      fill="none"
      stroke-width="2px"
      vector-effect="non-scaling-stroke"
      d="M 0 100 V 100 Q 50 100 100 100 V 100 z"
      data-original-path="M 0 100 V 100 Q 50 100 100 100 V 100 z"></path>
  </svg>
</div>
